@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .header {
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    @apply flex justify-between items-center px-6 py-4 fixed top-0 left-0 w-full z-50;
  }
  .footer{
    background: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    @apply flex p-4 gap-4 justify-center items-center text-lg fixed bottom-0 left-0 w-full ;
  }
  .hero{
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    @apply pt-20 px-6 min-h-screen flex flex-col justify-center items-center;
  }
  .menu {
    background: rgba(0, 0, 0, 0.958);
    
    @apply absolute top-12 left-0 w-full h-full text-white z-10;
  }

  .card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    color: #333;
    font-family: Arial, sans-serif;
    max-width: 300px;
  }
  .card:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  }
  .section{
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(8px);
  }
  .btn{
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    @apply rounded-sm mt-5 text-white p-2 w-40 m-auto;
  }
  .glass-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 300px;
    margin: 20px auto;
    color: #333;
    font-family: Arial, sans-serif;
  }
  .glass-card:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  }
}
